*
{
    margin: 0;   
}
.about
{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}
.artistList
{
    align-items: center;
    text-align: center;
    list-style: inside;
}
.artistDetails
{
    list-style: decimal;   
}
.artistName
{
    display: inline;
    color: chocolate;
    font-style: oblique;
    text-decoration: underline;
}
.description
{
    text-indent: 20px;
    word-wrap: normal;
    word-break: normal;
    word-spacing: 5px;
}
.socialMediaLinks
{
    border: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.songList
{
    align-items: center;
    display: flex ;
    flex-direction: column;
    border: 0;
}
th
{
    background-color: gold;
}